@use './variables';

.buttons{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
  width: 100%;
  max-width: 500px;

  .button{
    background: transparent;
    font-family: variables.$font-body;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 140%;
    color: variables.$dark-100;
    padding-block: 1rem;
    letter-spacing: 1px;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    transition: all .3s ease-in-out;
    cursor: pointer;
    flex: 1 1 300px;
    border-radius: 0;

    &-primary{
      border: 2px solid transparent;
      background: variables.$primary-100;

      &:is(:hover, :focus){
        filter: brightness(1.1);
      }
    }
    
    &-outline{
      border: 2px solid variables.$grey-200;
      background: transparent;
      color: variables.$light-100;

      &:is(:hover, :focus){
        background: variables.$primary-100;
        border-color: variables.$primary-100;
        color: variables.$dark-100;
      }
    }
  }

  @media screen and (max-width: 767px) {
    flex-wrap: wrap;
  }
}
